button {
    position: relative;
    display: flex;
}

.adventure-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    border-radius: 50px;
    padding: 12px 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: clamp(0.8rem, 2vw, 1rem);
    ;
    font-weight: 600;
    cursor: pointer;
}

.meio {
    position: absolute;
    background-color: white;
    top: 10px;
    right: 45px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.meio::before,
.meio::after {
    position: absolute;
    content: '';
    top: -27px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color:  #312111;
    border-radius: 50%;
    z-index: 100;
}

.meio::after {
    top: 27px;
    background-color:#9c7c59;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border: 5px white solid;
    background-color: black;
    border-radius: 50%;
}

.icon-circle svg {
    width: 18px;
    height: 18px;
}